{% extends 'base.html' %}
{% block content %}
    <div class="row">
    {% for file in catalog %}
        <div class="col-md-3 box">
        <a href="{% url 'details' file.pk %}">
            {% if file.cover %}
                {% load static thumbnail%}
                <div class="image" id="image">
                     {% if file.cover|is_portrait %}
                    {% thumbnail file.cover "100x150" crop="center" as im%}
{#                        style="margin:{{ im|margin:"200x200" }}"#}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                     {% thumbnail file.cover "250x150" crop="center" as im%}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% endif %}
                </div>
            {% endif %}
        <div class="title" id="title">{{ file.title }}</div>
        </a>
            <div class="category" id="category">{{ verbose_name }}: <a href="{% url 'category' file.category.slug %}">{{ file.category }}</a></div>

        </div>
    {% endfor %}
    </div>


{% endblock %}

